extends layout 

block content
  include main-page-header
  div(class="listContainer")
    h1= title
    h3
      a(href="/books/new") Create New Book
    table
      thead 
        tr 
        th Title
        th Author
        th Genre
        th Year
      tbody 
        each book in books 
          tr 
            td
              a(href="/books/" + book.id ) #{book.title} 
            td #{book.author} 
            td #{book.genre} 
            td #{book.year}
    div(class="pageNav")
      if numberOfPages > 0
        h3 Page #{page} of #{numberOfPages}
      else
        h3 "NO RESULT"
      if numberOfPages > 1
        if page === 1
          button(class="btn") 
            a(href=`/books/search?search=${search.toLowerCase()}&page=${page+1}`) NEXT
        else if page > 1 && page < numberOfPages
          button(class="btn") 
            a(href=`/books/search?search=${search.toLowerCase()}&page=${page-1}`) PREV
          button(class="btn") 
            a(href=`/books/search?search=${search.toLowerCase()}&page=${page+1}`) NEXT
        else if page === numberOfPages
          button(class="btn") 
            a(href=`/books/search?search=${search.toLowerCase()}&page=${page-1}`) PREV

include paginate