extends layout

block content
    div(class="formClass")
        h1= title
        div 
            p
                label(for="title") Title 
                input(type="text", name="title", id="title" value=book.title)
        div 
            p        
                label(for="author") Author 
                input(type="text", name="author", id="author" value=book.author)
        div 
            p
                label(for="genre") Genre 
                input(type="text", name="genre", id="genre" value=book.genre)
        div
            p 
                label(for="year") Year 
                input(type="text", name="year", id="year" value=book.year)
        div(class="forClassButton")
            input(type="submit" class="btn btn-primary" value="Create New Book")
            br
            br
            a(href="/books" class="btn btn-primary") Cancel